h1 {
    text-align: center;
    color: #357ACA;

}
body {
    font-size: 18px;
    background-color: #7ACA35;
}
nav {
    text-align: center;
}

.tov{
    background-color: #357ACA;
    padding: 10px;
}
.im{
    border: 13px solid #357ACA;
}
h2{
    color: #CA8535;
    text-align: center;

}
nav a
{
    background-color: white;
    color:#357ACA ;
padding: 10px 25px;
border-radius: 10px;
text-decoration: none;

}
